.form-user-cart {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  padding: 20px 12px;
  border: 1px solid #D8D8D8;
  box-sizing: border-box;
  border-radius: 5px;
}

.form-user-cart-button-block {
  text-align: end;
}